%div.form
  %h2 Create A New Photo Album
  - form_for [:admin, @album], :builder => LrsrFormBuilder do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %br
    = submit_tag "Create", :class => "btn green left_float"
    
    = link_to "Cancel", admin_albums_path, :class => "btn red left_float"
%br
%br