%fieldset
  %ul
    %li.form-field.required
      = form.label :title
      = form.text_field :title, :maxlength=> 50
      
    %li.form-field.required
      =form.label :front_page, 'Display on front page'
      =form.check_box :front_page
  
    %li.form-field.required
      = form.label :body
      = form.text_area :body