%h2
  Contact Request Emails
(When a vistor fills out the contact us form these people will receive an email nontification)
%br
= link_to 'Create A New Contact Request Email', new_admin_contact_request_email_path, :class => 'btn blue left_float'
%br
%br
%table.data.nolink
  %thead
    %tr
      %th
        Name
      %th
        Email
      %th
        Actions
    %tbody
      -ContactRequestEmail.all.each do |c|
        %tr
          %td
            =c.name
          %td
            =c.email
          %td
            =action_images [:admin, c], :exclude => [:index, :show]          
%h2
  Received Contact Requests          
%table.data.nolink
  %thead
    %tr
      %th
        Name
      %th
        Email
      %th
        Subject
      %th
        Received
      %th
        Actions
  %tbody.request
    -@contact_requests.each do |request|
      %tr{:style => "#{request.received? ? '' : 'font-weight:bold'}"}
        %td
          =link_to request.name, admin_contact_request_path(request)
        %td
          =link_to request.email, admin_contact_request_path(request)
        %td
          =link_to request.subject, admin_contact_request_path(request)
        %td
          =link_to request.created_at.strftime("%A, %B %d, %Y at %l:%M%p"), admin_contact_request_path(request)
        %td
          =action_images [:admin, request], :exclude => [:index, :edit]
  %tfoot
    %tr
      %td{:colspan => 5}
        = paginate @contact_requests