%div.form
  %h2 Create a new contact request email
  - form_for [:admin,@contact_request_email], :builder => LrsrFormBuilder do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %br
    = submit_tag "Submit", :class => "btn green left_float"
    
    = link_to "Cancel", admin_contact_requests_path, :class => "btn red left_float"
%br
%br