%h2  Lee River Snow Riders - Executiove / Directors Contacts

%table{:width => '75%', :border => 1}
  %tr
    %th
      Name
    %th
      Position
    %th
      Phone
    %th
      Email Address
  %tr
    %td
      Brad Wall
    %td
      President
    %td
      470-4785
      %br
      345-9454
    %td
      bkwallwall@gmail.com
      
  %tr
    %td
      Barry Richardson
    %td
      Past-President
    %td
      345-8088	
    %td
      r1chard@mts.net      
  %tr
    %td	
      Rob Nemeth
    %td Vice-President
    %td 899-2355	
    %td rob.nemeth@shaw.ca
  %tr
    %td Gerry Roskam	
    %td Treasure	
    %td 345-6150	
    %td glroskam@watersidewireless.net
  %tr
    %td
      Barb Nemeth	
    %td Secretary	
    %td 298-7308	
    %td barb.nemeth@shaw.ca
  %tr
    %td
      Marv Oehlerking	
    %td Safety	
    %td 345-6617	
    %td MarvandMyrna@mts.net
  %tr
    %td
      Bert Berard	
    %td Buildings	
    %td 345-8405	
    %td norclo@mts.net
  %tr
    %td
      Derek Roy	
    %td Small Equipment	
    %td 345-2274	
    %td djroy40@gmail.com
  %tr
    %td
      Myles Nelson	
    %td Snowman Rep	
    %td 
      223-0418	
      %br
      345-9290
       
    %td mnelson1318@gmail.com
  %tr
    %td		
      Wally Greenly	
    %td Fundraising/Membership	
    %td 345-8324	
    %td wally.greenlay@xplanet.com
  %tr
    %td
      Claude Cormier	
    %td Trails	
    %td 345-8154	
    %td aclee@prairie.ca
  %tr
    %td
      Lynne	
    %td Entertainment	
    %td 345 1924	
    %td LGeswin@hydro.mb.ca
  %tr
    %td
      Brian Smiley	
    %td Public Relations	
    %td 299-8255	
    %td bsmiley@mpi.mb.ca
  %tr
    %td
      Vacant	
    %td Grooming

